*{padding: 0; margin: 0;}

.container {
    width : 1000px;
    margin: auto;
    margin-top : 30px;
}

.container body .header{
    overflow: hidden;
}

body .container .header .menukiri img{
    width: 16%;
    height: auto;
    float: left;
    margin-right: 225px;
}

menu { 
    position: relative;
	height: 40px; 
    line-height: 40px; 
}

menu ul li {
    float: left; 
    list-style: none; 
}

menu ul li a {
    margin-right: 15px; 
    text-decoration: none; 
	padding: 3px 10px; 
    color: black;
    text-align: center;
}

menu ul li ul{ 
    display: none;
}

menu ul li:hover > ul { 
    display: block; 
    z-index: 1;
}	

menu ul li ul	{ 
    position:absolute; 
}

menu ul li ul li { 
    float: none; 
    position: relative;
    font-weight: 500;
    padding: 0 70px 0 1rem;
    text-align: left;
    background-color: gray;
    box-sizing: inherit;
    display: block;
    font-weight: 500;
    font-size: 15px;
    right: 120px;;
}		

menu ul img{
    width: 4%;
    height: auto;
    float: right;
}

.containermeet{
    height: 200px;
    background-color: lightgray;
}


.isiatasmeet {
    width : 1000px;
    margin: auto;
    margin-top : 20px;
    overflow: hidden;
    height: auto;
    padding: 18px;
    position: relative;
}

.isiatasmeet .kiri {
    margin-top: 10px;
    border-left: 4px solid black;
    width: 333.3px;
    float: left;
}

.isiatasmeet .kiri h{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    font-weight: 550;
}

.isiatasmeet .tengah {
    width: 333.3px ;
    float: left;
    margin-top: 30px;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.isiatasmeet .kanan {
    width: 300px;
    float: right;
    margin-top: 30px;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.containerfounder {
    height: 500px;
}

.isitengahfounder {
    width: 1000px;
    margin: auto;
    overflow: hidden;
    height: auto;
    position: relative;
    margin-top: 25px;
}

.tema h{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    margin-left: 400px;
    transform: translateX(-50%);    
}

.semuagambar {
    width: 1000px;
    margin: auto;
    overflow: hidden;
    height: auto;
    position: relative;
}

.semuagambar .foto{
    float: left;
    width: 333.3px;
}

.semuagambar img {
    width: 280px;
    height: 320px;
    margin-top: 20px;
}

.semuagambar .foto .kananfounder {
    float: right;
}

.semuagambar .foto .tengahfounder {
    margin : 0 28px 0 28px;
}

footer {
    background-color: black;
    color: white;
    text-align: center; 
    font-size: 15px; 
    line-height: 40px; 
    height: 40px;
}

footer a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.fatas {
    background: black;
    color: white; 
    justify-content: center; 
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 400px;
    border-bottom: 2px solid white;
}
 .fatas .ffatas {
    margin-top: 30px;
    width: 300px; 
    padding: 15px; 
    font-size: 12px;
    position: relative;
    float: left;
}
 .fatas .logo img {
    margin-top: 20px;
    width: 30px; 
    height: 30px; 
    float: left; 
    clip-path: circle(50%); 
    margin-left:10px; 
}
.fatas .logo img:hover {
    transform: scale(1.2);
}

.fatas .ffatas {
    width: 300px;
    font-family: Arial, Helvetica, sans-serif
    position: relative;
}

.fatas .ffatas h1 {
    border-bottom: solid white 1px; 
    padding: 10px; 
    position: relative;
}
.fatas .ffatas .penjelasan1 {
    margin-top: 20px;
    align-items: left;  
    margin-left: 30px;
    padding: 10px; 
    transform: translate(-15px, 0px);
    position: relative;
}

.fatas .ffatas .penjelasan2 {
    position: relative;
    margin-top: 20px;
    align-items: left;  
    margin-left: 5px;
    padding: 10px; 
    transform: translate(-15px, 0px);
    position: relative;
}

.fatas .ffatas .penjelasan3 {
    position: relative;
    margin-top: 20px;
    align-items: left;  
    margin-left: 50px;
    padding: 10px; 
    transform: translate(-15px, 0px);
    position: relative;
}


.fatas .ffatas .satutengah2 {
    margin-left: 30px;
    margin-top: -40px;
}

.fatas .ffatas .satutengah2 a{
    color: white;
    text-decoration: none;
}

.fatas .ffatas .duatengah2 {
    margin-left: 50px;
    margin-top: -40px;
}

.fatas .ffatas .duatengah2 a{
    color: white;
    text-decoration: none;
}

.fatas .ffatas .tigatengah2 {
    margin-left: 5px;
    margin-top: -40px;
}

.fatas .ffatas .tigatengah2 a{
    color: white;
    text-decoration: none;
}

.fatas .ffatas .penjelasan1 img {
    width: 40px; 
    height: 40px; 
    transform: translate(-25px, 0px);
}

.fatas .ffatas .penjelasan2 img {
    width: 40px; 
    height: 40px; 
}

.fatas .ffatas .penjelasan3 img {
    width: 40px; 
    height: 40px; 
    transform: translate(-45px, 0px);
}

.fatas .ffatas .tool {
    margin-top: 20px;
    position: relative; 
}

.fatas .ffatas .tool .tips {
    display: inline; 
    padding: 10px;}
.fatas .ffatas p {
    margin-top: 30px;
}
input[type=text] {
    padding: 10px; 
    font-family: arial;}
input[type=submit] {
    padding: 10px; 
    font-family: arial;}

.containerfatas {
    background-color: black;
}

.isifatas .fatas {
    margin : auto;
    overflow: hidden;
    height: auto;
    background-color: black;
    padding: 10px;
    position: relative;
    width: 1000px;
}
